*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin:0; 
    padding:0; 
}

h1, h2{
font-family:'DM Serif Display', 'Arial Narrow', Arial, sans-serif;
font-size: 40px;
line-height: 0.9;
}

a{
    text-decoration: none;
    color:black; 
}

body{
    background-color: white;
    margin:0;
    padding:0;
    width:100vw;
    
   
}

.divided{
    height:300px; 
    width:auto; 

}

button{
    width:140px;
    height:40px;
    margin:auto; 
    border-radius: 50px;  
    background-color:whitesmoke; 
    text-transform: uppercase;
    color:rgb(39, 39, 39);
    border: transparent;
    box-shadow: rgb(152, 151, 151) 1px 1px 2px;
}

/* HOME */
header{
    background-color: rgb(180, 208, 206);
    width:100%;
    height:100%; 
}

.family{
    /* border:3px dashed purple; */
    height:100%; 
    width:auto;
    display:flex; 
    flex-direction:column;
}

.textdiv{
    flex-basis: 100%;
    margin:auto; 
    margin-top:60px;
    margin-bottom:10px;
    padding:10px 10px;
    text-align: left;
}
.textdiv h1{
    white-space: nowrap;
    margin-top:20px; 
}

.textdiv p{
    margin-top:20px;
    width:100%;
}

.textdiv p span{
    color:white;
}


.lowerblock{
    /* border:1px dashed red;  */
    display:flex;
    flex-direction: row;
    flex:1;
}

.buttoncontainer{
    display: flex;  
    
}

.buttoncontainer button{
  
   position: relative;
   visibility:hidden; 
}

.filler{
    margin:10px;
    border: 1px solid black;
    width:20px;
}

.imagecontainer{
    flex:1 1 100%;
    /* border:1px dashed red;  */
    height:auto;
    display: flex;
    
}

.imagecontainer img{
    max-width:300;
    max-height: 300px;
    margin: auto; 
    margin-bottom:0; 
    
    position: relative;
    right:90px; 
    
}
/* LEARNMORE */

.learnmore{
    background-color:tomato;
    color:white;
    padding:auto;
    display:flex; 
}

.texttogether{
    margin:auto;
    text-align: center;
}

/* JOINTODAY */

.jointoday{
    background-color: rgb(218, 181, 18);
    color:white;
    display:flex; 
    flex-direction: column;
    align-items: center;
    
}

/* NAV */

.navsection{
    width:100%;
    background-color: white;
    display: none;
}
.navsection ul{
    text-align: center;
    width:100%; 
    /* border:1px dashed blue;  */
    
}

.navsection a{
    color:rgb(59, 59, 59); 
}

.navsection a:hover{
    color:black; 
}

.navsection ul li{
    display:inline-block;
    margin:10px 80px;
    /* border:1px dashed blue;  */
}

/* SAFETY */

.safetysection{
    background-color: rgb(171, 163, 163);
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding:5em;
    padding-bottom:6em;
    
}

.safetysection div{  
     
    max-width: 100%;
    min-width: 50%; 
}

.safetysection h2{
    color:rgba(255, 255, 255, 0.7); 
    margin-bottom: 40px;
}


.textbutton button{
    display:none; 
    
    
}

/* PEOPLE */

.peoplecontainer{
    flex:1 1 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background:linear-gradient(180deg, rgb(171, 163, 163) 50%,  rgb(171, 163, 163) 50%);
    
    
} 

.whitecontainer{
    max-width: 300px;
    min-width:300px; 
    max-height:280px;
    margin: 30px 30px;
    display:flex;
    flex-direction: column;
    padding:20px;
    flex:0 0 100%;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgb(154, 155, 155) 2px 1px 10px;
}

.slightlyovercontainer{
   
    border-radius: 5px;
    position: relative;
    bottom:3em;
    height:9em;
    overflow: hidden;
    display:flex;
    max-width: 30em;
    min-width: 16em;
    margin:auto; 
}

.slightlyovercontainer img{
    margin:auto;
    position: relative;
    top:0.5em;
}

.whitecontainer:first-child img{
    position: relative;
    right:5px;
    max-width: 90px;
    max-height:auto;
    top:35px;
}

.a-color{
    background-color:lightblue;
}

.b-color{
    background-color: orange;
}

.b-color img{
    max-width: 100px;
    max-height:auto;
}

.c-color{
    background-color:rgb(230, 126, 67);
}
.c-color img{
    max-width: 180px;
}

.whitecontainer h6{
    font-size: 15px;
}

.whitecontainer p{
    font-size: 12px;
    color:grey;
}

/* ABOUT */

.aboutsection{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: orange;
    padding:3em 1em;
    margin-bottom:0px;
    margin-top:0;
}

.aboutsection h2 {
    flex: 1 1 100%;
    text-align:center;
    color:white;  
    margin-bottom:10px;
}

.about-text{
    
    flex: 1 1 100%;
    margin:20px 50px; 
}

/* GRID */

.gridsection{
    display:grid; 
    height:800px;
    grid-template-areas: 'auto';   
    counter-reset: my-counter;
}

.gridsection div{
    display:flex; 
    grid-area: 100%; 
    
}

.gridsection div div{
    margin:auto;
    text-align: center;
    font-size: 15px;
    position: relative;
    right:20px;       
}

.gridsection .counterbox::before{
    counter-increment: my-counter;
    content:"0" counter(my-counter);
    font-weight: bold;
    font-size: 50px;
    position:relative;
    left:10px;
    top:10px;
    color:slategray;
    font-family:'DM Sans Serif';
}
.gridsection .four::before{
    color:saddlebrown;
}

.how{
    background-color: rgb(203, 227, 235);
    text-indent: 50px;
    font-size: 30px;
}
.two{
    background-color: rgb(241, 230, 230);
    white-space: nowrap;
}
.three{
    white-space: nowrap;
}

.four{
    background-color: rgb(216, 103, 51);
}

.numbering{
    font-family:'Times New Roman', Times, serif; 
    color:rgb(174, 174, 174);
    margin:10px 20px;
    font-size: 50px;
    font-weight:bold;
}

 /* GOBACK */
 .goback{
    display:flex;
    flex-direction: column;
    height:60px;
    padding-top:5px;
    width:100%;
    text-align:center; 
    background-color: grey;
}

@media screen and (min-width:1200px){
   
    header{
        display:flex;
        flex-direction:row;  
        
        height:600px; 
    }
    
    .divided{
        width:auto;
        height:auto; 
    }

    
    .textdiv{
        width:60%;
    }

    .family{
      height:600px;  
      width:50%;
    }
    
    .twosplit{
       
        display:flex;
        flex-direction: column;
        width:50%; 
    }
    
    .learnmore, .jointoday{
        flex:1; 
    }
    
    .navsection{
        display: inline-block;
    }

    .textbutton button{
        display:inline-block; 
    }

    .safetysection{
        max-height:500px;
        flex-direction: row;
       
    }

    .peoplecontainer{
        width:100%;
        
        background:linear-gradient(180deg, rgb(171, 163, 163) 50%, orange 50%);
       
    }

    .whitecontainer{
        margin:30 60px;
    }

    .aboutsection{
        padding:3em 300px;
    }

    .gridsection{
        grid-template-areas: 'auto auto auto' 'auto auto auto' ;
    }

    .imagecontainer img{
        position: relative;
        left:60px;
    }
     
    .buttoncontainer button{
        visibility: visible;
        bottom:30px; 
        left:170px;
    }

    /* .safetysection{
        flex-direction: row;
        height:auto;
        
    }

    .textbutton{
        flex:1;
        width:50%;
    }

    .paragraph{
        flex:1;
        width:50%;
    }

    .peoplecontainer{
        width: 100%;
    } */


}